@CHARSET "utf-8";

html, body, div, ul, li, a {
	margin: 0;
	padding: 0;
}

#wrap {
	width: 100%;
	height: 100%;
	line-height: 300%;
	text-align: center;
}

#login {
	float: right;
	width: 100%;
	margin: auto 1% auto;
	text-align: right;
}

#header {
	float: left;
	width: 100%;
	background-color: #0080ff;
}

#main {
	float: left;
	width: 20%;
}

#main a {
	color: #ffffff;
	text-decoration: none;
	font-size: 150%;
}

#nav {
	float: right;
	width: 80%;
}

#nav>ul {
	width: 100%;
	display: table;
}

#nav>ul>li {
	width: 20%;
	float: left;
	list-style: none;
}

#nav>ul>li>a {
	width: 100%;
	text-decoration: none;
	display: block;
	color: #ffffff;
}

#nav>ul>li>ul {
	width: 16%;
	background: #0080ff;
	visibility: hidden;
	position: absolute;
	z-index: 5;
	visibility: hidden;
}

#nav>ul>li>ul>li {
	width: 100%;
	list-style: none;
}

#nav>ul>li>ul>li>a {
	width: 100%;
	display: block;
	text-decoration: none;
	color: #ffffff;
}

#nav>ul>li:hover {
	float: left;
	background: #ffffff;
}

#nav>ul>li:hover>a {
	background: #ffffff;
	color: #000000;
}

#nav>ul>li:hover>ul {
	visibility: visible;
}

#nav>ul>li>ul>li:hover {
	background: #ffffff;
}

#nav>ul>li>ul>li:hover>a {
	background: #ffffff;
	color: #000000;
}

#contents {
	float: left;
	width: 100%;
}